
<div class="container gap-x-2 gap-y-3   m-1">
              <div class='grid md:grid-cols-3 m-1 gap-x-1 gap-y-1 '>
                <div class='bg-red-500 rounded-lg shadow-xl min-h-[50px]'></div>
                <div class='bg-orange-500 rounded-lg shadow-xl min-h-[50px] md:col-span-2 '></div>
              </div>
                <div class='grid md:grid-cols-2 m-1 gap-x-1 gap-y-1 '>
                <div class='bg-green-500 rounded-lg shadow-xl min-h-[50px]' ></div>
                <div class='bg-teal-500 rounded-lg shadow-xl min-h-[50px]' ></div>
                <div class='bg-blue-500 rounded-lg shadow-xl min-h-[50px]'></div>
                <div class='bg-indigo-500 rounded-lg shadow-xl min-h-[50px]' ></div>
                <div class='bg-purple-500 rounded-lg shadow-xl min-h-[50px]'></div>
                <div class='bg-pink-500 rounded-lg shadow-xl min-h-[50px]'></div>
                <div class='bg-slate-500 rounded-lg shadow-xl min-h-[50px]' ></div>

              </div>
</div>
